:root {
    --welcome-card-bg: white;
    --welcome-text-color: white;
    --welcome--bg-start: #ff9a9e;
    --welcome--bg-end: #ffe0b5;
    --z-index-bottom-nav: 10;
    --welcome-nav-height: 64px;
}