.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #ffe0b5 0%, #ff9a9e 100%);
    >header {
        padding-top: 66px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFA07A;
        >img {
            width: 70px;
            display: flex;
            flex-direction: column;
        }
    }
    >main {
        flex-grow: 1;
    }
    >footer {
        flex-shrink: 0;
    }
}